<div class="product">

    <div class="product-details">
      <div class="product-title">{{orderName}}</div>
      <p class="product-description">{{orderDescription}}</p>
    </div>
    <div class="product-price">{{orderPrice}}</div>
    <div class="product-quantity">
      <input type="number" value={{quantity}} min="1" class="product-number">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{subTotal}}</div>
</div>